@font-face {
    font-family: 'NetflixSans-Regular';
    src: url(../images/NetflixSans-Regular.otf);
}

@font-face {
    font-family: 'NetflixSans-Bold';
    src: url(../images/NetflixSans-Bold.otf);
}

@font-face {
    font-family: 'NetflixSans-Medium';
    src: url(../images/NetflixSans-Medium.otf);
}

@font-face {
    font-family: 'NetflixSans-Light';
    src: url(../images/NetflixSans-Light.otf);
}

body {
    margin: 0;
    font-family: NetflixSans-Regular, Helvetica, sans-serif;
}

#netflixHome {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.9) 0,transparent 50%,rgba(0,0,3)), url("../images/netflixBackground.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    width: auto;
}

#banner {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 66px;
    top: 0;
}

#new {
    background-color: #e50914;
    border-radius: 17px;
    color: white;
    font-size: 12.8px;
    margin: 8px 16px;
    padding: 3px 8px;
}

.plansText {
    font-family: 'NetflixSans-Light', Helvetica, sans-serif;
    font-size: 17.6px;
}

.plansPrice {
    font-family: 'NetflixSans-Bold', Helvetica, sans-serif;
    font-size: 20.8px;
}

.plansPrice::after {
    content: '.';
    font-family: NetflixSans-Regular, Helvetica, sans-serif;
    font-size: 17.6px;
}

.signUp {
    display: block;
    text-decoration: none;
}

.learnMore {
    align-items: center;
    display: flex;
    color: #0071eb;
    font-family: 'NetflixSans-Medium', Helvetica, sans-serif;
    font-size: 16px;
    justify-content: center;
    margin: 8px 8px 8px 16px;
    padding: 12px 16px;
}

.learnMore:hover {
    color: #0e7ff9;
}

#chevron {
    height: 18px;
    padding-left: 8.5px;
}

#header {
    padding-top: 25px;
}

.navbar {
    margin: 0 56px;
}

.navbar > .container-fluid {
    flex-wrap: nowrap !important;
}

#netflixLogo {
    height: calc(70px + .5vh);
}

.headerButtons {
    display: flex;
}

.signIn {
    background-color: #e50914;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    padding: 7px 17px;
}

/* dropdown menu */

.languageMenu {
    max-width: 100px;
    margin-right: calc(20px + 1.5625vw);
}
  
.languageMenu .languageBtn {
    display: flex;
    height: 37px;
    width: 100px;
    background: none;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
}

.languageMenu .options {
    position: absolute;
    width: 90px;
    margin-top: -35px;
    padding: 5px;
    border-radius: 8px;
    background: #2c2829;
}
  
.languageMenu .options .language {
    font-size: 14px;
    color: white;
    display: flex;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: #2c2829;
}
  
.languageMenu .options .language:hover {
    background: #c13f7a;
}

.globe {
    height: 14px;
    padding-left: 8px;
    padding-right: 4px;
}

.chevronArrow {
    transform: rotate(-180deg);
    transition: 0.5s;
    display: inline-block;
    transition-property: transform;
    height: 6px;
    padding: 0px 8px;
}
  
.arrowFlip {
    transform: rotate(0deg);
}
  
.languageMenu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
}

.reveal {
    visibility: visible;
}

.homeText {
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: calc(50px + 0.390625vw);
    color: white;
    max-width: 640px;
    margin: 0 auto;
}

.subtitle {
    font-family: 'NetflixSans-Light', Helvetica, sans-serif;
    font-size: calc(26px + 0.390625vw);
    color: white;
    margin: 16px auto;
    max-width: 640px;
}

.emailTitle {
    font-family: 'NetflixSans-Light', Helvetica, sans-serif;
    font-size: calc(19px + 0.390625vw);
    color: white;
    margin: 0 auto;
    padding-bottom: 20px;
}

.emailTextField {
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    height: 60px;
    min-width: 450px;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
    .navbar {
        margin: 0 45px;
    }
}

@media only screen and (max-width: 549px) {
    #netflixLogo {
        height: 36px;
    }

    .languageMenu .languageBtn {
        height: 30px;
    }

    .navbar {
        margin: 0 5%;
    }

    .signIn {
        padding: 4px 8px;
    }
}