#main {
    background-color: rgb(229, 229, 249);
    margin: 30px;
    padding: 30px;  
}

#content {
    background-color: rgb(106, 90, 205);
    border: 5px solid rgb(27, 0, 138);
    color: white;
    margin: 20px 0px;
    padding: 24px;
}

#content > div {
    margin: 12px 0px;
}

.quote {
    padding-left: 48px;
}

.quoteCitation {
    margin-left: 30px;
}