@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

#body {
    background-color: black;
    font-family: 'Sen', sans-serif;
    color: white;
}

a,
li a {
    color: white;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* -----------------Navbar------------------------ */

#navbar {
    align-items: center;
    background-color: black;
    display: flex;
    height: 70px;
    justify-content: space-between;
    left: 0;
    padding: 0 35px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
}

#navbarSticky {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    padding: 10px 35px;
    position: sticky;
    top: 0;
    z-index: 3;
}

#navLogo {
    margin: 13px 0 5px 5px;
    padding: 0 14px;
    width: 110px;
}

#signUp {
    background-color: #0063e5;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    height: 50px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 8px 14px;
}

#logIn {
    background-color: black;
    border: 1px solid silver;
    border-radius: 4px;
    color: white;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 8px 14px;
}

/* --------------------Hero-------------------------- */

#hero {
    align-items: center;
    background-size: cover;
    background-image: url("../assets/images/backgroundLarge.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
    width: 100vw;
    padding: 5.6vh;
    position: relative;
}

#heroLogos {
    display: flex;
}

#logoImagesHero {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#emailSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

#emailTitle {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#emailSubmission {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 25px;
    width: 100%;
}

input {
    appearance: none;
    background: rgb(44, 44, 47);
    border: none;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    font-size: 16px;
    height: 50px;
    padding-left: 8px;
    margin: 0;
    min-height: 16px;
    width: 50%;
    max-width: 450px;
}

#emailSubmit {
    background-color: #0063e5;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: white;
    font-size: 16px;
    height: 50px;
    padding: 5px 15px;
}

#channelLogos {
    margin: 0 auto;
    width: 50%;
}

#channels {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#channelsHeading {
    align-items: baseline;
    display: flex;
    font-size: 16px;
}

/* ----------------Modal-------------------- */
.modal-header {
    border-bottom: none !important;
}

.btn:focus,
.btn:hover,
.btn:active {
    color: white;
    background-color: transparent;
    border: none;
}

.btn {
    color: white !important;
    text-decoration: underline !important;
    font-size: 16px;
    font-family: 'Sen', sans-serif !important;
    border: none !important;
    padding: 0 1px !important;
    margin: 0 !important;
    text-decoration: none !important;
}

.modal {
    align-items: center;
    --bs-modal-bg: #40424a !important;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    position: fixed;
}

.modal a {
    color: white;
    font-size: 18px;
}

.modal-header {
    padding-bottom: 0 !important;
}

.modal-body {
    padding: 0 50px 50px 50px !important;
    margin-top: 0 !important;
}

/* --------------------Tabs---------------------------- */

.tabImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/* --------------------Footer---------------------------- */
/* ----------------------Media Query------------------------- */

@media only screen and (max-width: 768px) {
    
    #navbar {
        padding: 0 12px 0 20px;
    }
    
    #navLogo {
        width: 90px;
        padding: 0 12px;
    }

    #signUp,
    #logIn {
        height: 40px;
        font-size: 15px;
    }

    #logoImagesHero {
        max-width: none;
        width: calc(350px + 1.5vw);
    }

    #emailTitle,
    #channelsHeading {
        font-size: 14px;
    }

    #emailSubmission {
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    #emailSubmit {
        margin-top: calc(8px + 1.5625vw);
    }

    .btn {
        font-size: 14px !important;
    }

    .modal {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {

    #emailSubmit {
        height: auto;
        max-width: 165px;
    }
}