@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
}

ul {
    background-color: rgb(204, 204, 204);
    box-shadow: 2px 3px 30px 1px rgb(91, 91, 91);
    display: flex; 
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 12px;
    padding: 0px 10px;
}

li a {
    color: rgb(117, 8, 97);
    font-weight: 300;
    text-decoration: none;
}

li a:hover {
    color: rgb(94, 7, 78);
    font-weight: bolder; 
}

#home {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(161, 189, 200);
    }

    ul {
        flex-direction: column;
        width: 100px;
    }
}