* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background-color: #fafafa;
    font-family:  sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header ."
        ". content .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: white;
    border: 2px solid #dfdfdf;
    box-shadow: 0px 0px 20px #45065339;
    grid-area: content;
    padding: 32px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 8px 0px;
}

form legend {
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select,
#contactInputs > div {
    border: 1px solid black;
    border-radius: 2px;
    font-family: sans-serif;
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    box-shadow: 0px 0px 8px red;
}

textarea::placeholder,
input::placeholder {
    font-family: sans-serif;
    opacity: 55%;
}

select {
    color: rgb(181, 181, 181);
}

select:valid {
    color: black;
}

#contactInputs {
    display: flex;
    gap: 30px;
}

#contactInputs > div {
    border: 1px solid #767676;
    border-radius: 2px;
    justify-content: space-between;
    transition: .3s;
}

.radioFont {
    font-weight: lighter;
    margin: 0px;
    transition: .3s;
}

.radioFont:hover {
    color:#ce33f0;
}

input[type=radio]:checked {
    accent-color: rgb(215, 54, 240);
}

input[type=file] {
    margin-bottom: 20px;
}

input:focus,
textarea:focus {
    border-color: #ce33f0;
}

#uploads {
    display: flex;
}

.max {
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
}

input::file-selector-button {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    padding: 3px 8px;
}

input::file-selector-button:hover {
    border: 1px solid #ce33f0;
    background-color: #dcc2e0;
    border-radius: 3px;
    padding: 4px 9px;
} 

input[type=submit] {
    background-color: #450653;
    border: 2px solid #450653;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding: 16px 54px;
    transition: .5s;
}

input[type=submit]:hover {
    background-color: #7d1c8a;
    border: 2px inset #ce33f0;
}

@media screen and (max-width: 600px) {
    #gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content";
    }
}

