@import url("https://use.typekit.net/cne8jfz.css");

body {
    box-sizing: border-box;
}

#mainContainer{
    width: 400px;
    height: 220px;
    background: white;
    margin: 30px;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContainer:before{
    content:'';
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background: white;
    z-index: -1;
    border-radius: 25px;
    transform: skew(-1deg,-1deg);
}

#mainContainer:after{
    content:'';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: white;
    z-index: -2;
    filter: blur(40px);
    border-radius: inherit;
    transform: skew(-1deg,-1deg);
}

#mainContainer:before,
#mainContainer:after{
    background:linear-gradient(235deg,#ff0bac,white,#02f2f7);
}

#mainSection{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    margin-top: -20px;
}

#logo{
    margin-right: -13px;
    margin-left: -20px;
    width: 150px;
}

a{
    text-decoration: none;
    color: #050833;
}

#title{
    border-bottom: 1px solid #050833;
    padding-bottom: 7px;
}

.contactIcons{
    display: flex;
    align-items: center;
    margin-left: -15px;
}

#name{
    font-family: "sherborne-variable", sans-serif; 
    font-variation-settings: "opsz" 72, "wght" 850;
    font-size: 24px;
}

#title,
#number,
#emailAddress{
    font-family: "sherborne-variable", sans-serif; 
    font-variation-settings: "opsz" 60, "wght" 350;
    font-size: 14px;
}

#infoSection{
    border: 3px solid;
    border-image: linear-gradient(to bottom, #02f2f7, #ff0bac) 0 0 0 1;
    padding-left: 20px;
}

.contactIcons img{
    width: 50px;
}

#emailSection{
    margin-top: -10px;
}

#socialIconContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.socialIcons{
    width: 45px;
}